.circle-background {
    fill: none;
    stroke: #8B8B8B;
}

.circle-progress-outer {
    fill: none;
    stroke: #E63946;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circle-progress-inner {
    fill: none;
    stroke: #06D6A0;
    stroke-linecap: round;
    stroke-linejoin: round;
}