.ant-select input {
    font-size: 14px !important;
    font-style: normal !important;
    line-height: 15px !important;
    border: 0 !important;
    outline: 0 !important;
    background-color: #1B2028 !important;
    border-radius: 8px !important;
    color: white !important;
    padding: 12px !important;
    display: block !important;
    height: 100% !important;
}
.ant-select-selector {
    border: none !important;
    height: 50px !important; 
    box-shadow: none !important;
}

.ant-select {
    height: 50px !important;
}
.ant-select-selection-search {
    inset: 0 !important;
}
.ant-select-selection-placeholder{
    color: #505050 !important;
    z-index: 100;
    display: flex !important;
    align-items: center !important;
}

.ant-skeleton .ant-skeleton-content .ant-skeleton-title +.ant-skeleton-paragraph{
    margin-block-start: 8px !important;
}