.ant-select input {
    font-size: 14px !important;
    font-style: normal !important;
    line-height: 15px !important;
    border: 0 !important;
    outline: 0 !important;
    border-radius: 8px !important;
    color: white !important;
    padding-block: 12px !important;
    display: block !important;
    height: auto !important;
}

.ant-select-selector {
    background-color: #24272E !important;
}

.ant-select-multiple .ant-select-selection-item {
    border: none !important;
    background: #1573FE !important;
    border-radius: 5px !important;
    color: white !important;
    margin-inline-end: 10px !important;
}