.custom-dropdown .ant-dropdown-menu {
    margin-top: 6px !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    padding: 12px 8px !important;
    overflow-y: auto;
    max-height: 300px;
  }